body{
  background: white;
  text-align: center;
  background-image: url(image/image1.jpg);
  height: 80%;
  margin : auto;
}

table {
  border-collapse: collapse;
  width: 700px;
}

th,td{
  border: 2px solid #999;
  padding: 0.5rem;
  padding: 7px 10px 10px 10px;
}


#h1{
  font-family: sans-serif;
  margin: 100px auto;
  font-size: 50px;
  color: white;
  width: 500px;
  height: 30px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px grey;
}

h1{
  cursor: pointer;
}

.content{
  background: #F4F4F5;
  width: 80%;
  padding: 60px;
  margin: 100px auto;
}

.pwp {
  text-align: center;
}

.head {
  color: #fff;
  background-color: grey;
}

header{
  font-family: serif;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

ul {
 list-style: none;
 font-family: serif;
}

ul li {
 float: left;
 width: 240px;
 height: 40px;
 background-color: white;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
 margin: auto;
}

ul li a {
 text-decoration: none;
 color: black;
 display: block;
}

ul li a:hover {
 background-color: grey;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}

.ict4m{
  width: 100px;
}

#feeFooter {
   position:absolute;
   left: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
