body{
  height:100%;
  margin:auto;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  scroll-behavior: smooth;
  background-image: url('image/office2.jpg');
}

.sub{
  width: 40%;
  height: auto;
  position: absolute;
  left: 30px;
  top: 170px;
}

.guide{
  width: 25%;
  height: auto;
  position: absolute;
  right: 180px;
  top: 40px;
}

.font_8{
  font-size:16px;
}

#body {
  position: relative;
  margin: 20px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}

#accordion {
  position: relative;
  margin: 20px 0px 10px calc((100% - 980px) * 0.5);
  left: 30px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
  text-align: center;
  width: 1000px;
}

.font_6{
  font-size:20px;
}

#submiss {
  position: relative;
  margin: 89px 0px 52px calc((100% - 980px) * 0.5);
  top: 40px;
  left: 100px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}

#guidess {
  position: relative;
  margin: 89px 0px 52px calc((100% - 980px) * 0.5);
  top: 40px;
  left: 100px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
  font-size: 60;
  font-family:arial;
}

.callForpapers1 {
  position: relative;
  margin: 92px 0px 66px calc((100% - 980px) * 0.5);
  left: 514px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.callForpapers2 {
  position: relative;
  margin: 0px 0px 47px calc((100% - 980px) * 0.5);
  left: 514px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}

.guideline{
  font-size: 18px;
  line-height:1.5em;
  width:60%;
  float: left;
  position: relative;
  margin: 40px 0px 10px 0px);
  left:   -65px;
  grid-area: 5 / 1 / 6 / 2;
  text-align: justify;
  align-self: start;
}

.guideline2{
  font-size: 18px;
  line-height:1.5em;
  float: left;
  top: 50px;
  position: relative;
  margin: 30px 0px 10px 0px);
  left: -65px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}

header{
  font-family: serif;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

ul {
 list-style: none;
 font-family: serif;
}

ul li {
 float: left;
 width: 240px;
 height: 40px;
 background-color: white;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
 margin: auto;
}

ul li a {
 text-decoration: none;
 color: black;
 display: block;
}

ul li a:hover {
 background-color: grey;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}

.ict4m{
  width: 100px;
}

#guideFooter {
   position:absolute;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   margin-top: 20px;
   top: 800px;
}

#subFooter {
   position:absolute;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   margin-top: 20px;
}
