
h1{
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 100px;
  margin-right: 400px;
  margin-left: 400px;
  position: relative;

}
.txtP{
  margin: 30px;

}
 h2{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.bg{
  background-image: url(image/man-standing.jpg);
  background-size: cover;
  width: 90%;
  padding: 80px;
  margin-top: 80px;
  background-position: center;
  opacity: 0.6;
}
 .clearfix{
  background: white;
  width: 90%;
  padding: 80px;
  margin-top: 0px;
  background-image: url(image/image2.jpg);
  opacity: 0.75;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.txtP{
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
  text-indent: 40px;
}
.image {
  margin-right: 10px;
  width: 150px;
  float: left;
}
.img2{
  margin-left: 10px;
  width: 200px;
  float: right;
}
.img3{
  margin-right: 10px;
  width: 150;
  float: left;
}
header{
  font-family: serif;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
z-index: 1;


}
ul {


 list-style: none;
 font-family: serif;
}

ul li {
 float: left;
 width: 240px;
 height: 40px;
 background-color: white;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
 margin: auto;

}

ul li a {
 text-decoration: none;
 color: black;
 display: block;
}

ul li a:hover {
 background-color: grey;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}

.ict4m{
  width: 100px;
}

footer {
   position:absolute;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
