*{
	box-sizing: border-box
}

body{
	height: 100vh;
	width: 100




}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	background-image: url("image/audience.jpg");
	opacity: 0.6;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("image/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 1050px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

}

.left{
 padding: 10px;
	background: url("image/bg.jpg") no-repeat center;
	background-image: url("image/brick1.jpg");
	background-size: cover;
	width:  100%;
}
#map{
	width: 100%;
	height: 100%;

}
.dialog{
position: relative;
margin-top: 0px;
margin-left: 50px;
margin-right: 50px;
text-align:center;
font-size: 19px;
color: black;

}
.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: black;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: grey;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: black;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*------navigation bar-------*/
header{
  font-family: serif;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
z-index: 1;


}

ul {


 list-style: none;
 font-family: serif;
}

ul li {
 float: left;
 width: 240px;
 height: 40px;
 background-color: white;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
 margin: auto;

}

ul li a {
 text-decoration: none;
 color: black;
 display: block;
}

ul li a:hover {
 background-color: grey;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}

.ict4m{
  width: 100px;
}

footer {
   position:absolute;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
